
.fkcorreiosg2cp1-display-none {
    display: none;}

.fkcorreiosg2cp1-display-block {
    display: block;}

.fkcorreiosg2cp1-col-lg-auto {
    width: auto;
    min-width: 0;
    margin-left: 10px;
    margin-right: 5px;}

#fkcorreiosg2cp1_button_regiao {
    padding-left: 10px;}

#fkcorreiosg2cp1_span_regiao {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;}

